body{
    width: 100%;
    height: 100%;
    background-color: #2d547b;
    overflow:  hidden;
}

.footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: deepskyblue;
    border: 4px inset #1a202c;
}

.window_entry{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 200px;
    width: 400px;
    height: 200px;
    background-color: aliceblue;
    border: 5px solid blue;
    border-radius: 5px;
}

.my_button_server{
    position: absolute;
    margin: auto;
    top: 50px;
    left: 120px;
    background-color: floralwhite;
    border: 2px inset black;
    border-radius: 5px;
}

.my_button{
    position: absolute;
    background-color: floralwhite;
    border: 2px inset black;
    border-radius: 5px;
}

.my_input{
    position: relative;
    margin:auto;
    left: 30px;
    top: 50%;
}

.my_form{
    position: absolute;
    margin: auto;
    top: 100px;
}

.window{
    position: absolute;
    background-color: lightpink;
    width: 500px;
    height: 200px;
    left: 1000px;
    top: 210px;
    border: 5px solid blue;
    border-radius: 5px;
    overflow-y: auto;
}

th{
    border-bottom: 5px solid red;
}

.window_panel{
    background-color: lightgrey;
    position: absolute;
    width: 500px;
    height: 100px;
    left: 1000px;
    top:410px;
    border: 5px solid blue;
    border-radius: 5px;
}


.window_form_add{
    width: 70%;
    height: 100%;
}

.window_form_deleted{
    height: 50px;
    width: 100px;
    margin-left: 75%;
    margin-top: -115px;
}

.win_panel_input{
    height: 80%;
    width: 100%;
}

.win_panel_button{
    position: relative;
    border: 2px inset black;
    border-radius: 5px;
    left: 0;
}

.exit_button{
    position: absolute;
    top: 520px;
    right: 30px;
    border: 2px inset black;
    border-radius: 5px;
}
